@keyframes backgroundflash {		
		75% { opacity:1.0}
		100% {opacity:0.0; display:none}
}

#flash {
	background-color:green;
	animation: backgroundflash 12s forwards; 
  
}

#flashf {
	background-color:red;
  
	animation: backgroundflash 12s forwards; 
  
}
.modalgaleria{
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

}
.slider{
	background: url("/images/sostenible2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center; 
  }
  .divShowCurrent{

    border: 1px solid #ced4da;
    border-radius: 10px;
  }
  
  .divLabelInput{
  
    border-bottom: 1px solid #ced4da;
  }
  
  .inputShowCurrent{
    text-align: center;
    border: none;
  
  }
  .inputShowCurrent:focus{
    outline:none !important;
  }
  
  .labelShowCurrent{
    font-family: 'Roboto', sans-serif;
    color: #7c8291;
    font-size: 11px;
  
  }

  .black{
	  color:black;
  }
  .algright{
	text-align: right;
  }
  .btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}
#imagenbig {
  width: 100%;
  height:100%;
}

.barraminheight{
  min-height: 55px;
}